@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-alumni-sans);
}
p,
li {
  font-size: 17px !important;
}
.hero {
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../../public/images/banner2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  min-height: 90vh;
  /* margin-top: -95px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myVideo {
  width: 778px;
  height: 403px;
  object-fit: cover;
}
.carsCard {
  width: 180px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px #cfcfcf;
}
.carsCard:hover {
  box-shadow: 0 3px 5px #cecece;
}
.thumbnail-controls {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between buttons and thumbnails */
}
.thumbnails {
  display: flex;
  overflow: hidden; /* Prevent overflow */
  flex-grow: 1; /* Allow thumbnails to take available space */
}

.thumbnails img {
  transition: transform 0.3s ease;
  border: 1px solid #cfcfcf; /* Smooth transition for thumbnail images */
}
.prices {
  font-family: monospace;
}
