@import "tailwindcss";

:root {
  --background: #f8f8d7;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f2fb;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-alumni-sans);
}
p,
li {
  font-size: 17px !important;
}
.hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../../public/images/banner2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-top: -95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}